<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>Robot Idle</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/idle.css') }}">
</head>
<body>

    <div id="idle-screen" class="idle active" onclick="wakeUp()">
        <img src="{{ url_for('static', filename='img/robot.png') }}" class="robot-img">
        <p class="idle-text">แตะหน้าจอเพื่อเริ่มต้นใช้งาน</p>
    </div>

    <script src="{{ url_for('static', filename='js/idle.js') }}"></script>
</body>
</html>
